@import '../mixins.scss';

.question {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  &__content {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 10px;
    line-height: 24px;
    font-size: 16px;
    color: rgba(61, 61, 61, 0.7);
    font-family: 'Baloo Bhaina 2', cursive;
    letter-spacing: 1px;
    a {
      color: #1a1a1b;
      text-decoration: none;
    }
  }
  &__info-actions {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: 'Baloo Bhaina 2', cursive;
    color: #878A8C;
    &__left-box {
      display: flex;
    }
  }
  &__author {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #878A8C;
  }
  &__go-to-answers {
    margin-right: 20px;
    font-weight: 700;
  }
  &__answer {
    padding: 6px 30px 4px;
    border: 1px solid #1583D6;
    border-right: 3px solid #1583D6;
    border-bottom: 3px solid #1583D6;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Baloo Bhaina 2', cursive;
    font-weight: 700;
    background-color: #fff;
    color: #1583D6;
    text-decoration: none;
    @include standard-button();
  }
  &__icon {
    margin-right: 6px;
  }
}

@media only screen and (max-width: 480px) {
  .question {
    padding: 10px;
    &__info-actions {
      flex-direction: column;
      &__left-box {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
      }
    }
    &__answer {
      box-sizing: border-box;
      width: 100%;
      text-align: center;
    }
  }
}