.to-ask {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  &__input-ask {
    box-sizing: border-box;
    width: calc(100% - 140px);
    height: 54px;
    padding: 6px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Baloo Bhaina 2', cursive;
    color: #878A8C;
    &:focus {
      outline: none;
      box-shadow: 0;
      border: 1px solid #F94A3F;
    }
    &::placeholder {
      color: #ccc;
    }
  }
  &__submit-btn {
    box-sizing: border-box;
    padding: 6px 30px 4px;
    width: 140px;
    height: 40px;
    border: 1px solid #1583D6;
    border-right: 3px solid #1583D6;
    border-bottom: 3px solid #1583D6;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Baloo Bhaina 2', cursive;
    font-weight: 700;
    background-color: #fff;
    color: #1583D6;
    text-decoration: none;
    cursor: pointer;
    &:focus {
      outline: none;
      box-shadow: 0;
    }
    &:active {
      border: 1px solid #1583D6;
    }
    &:hover {
      background-color: rgba(21, 131, 214, 0.7);
      color: #fff;
      outline: none;
    }
  }
}

@media only screen and (max-width: 480px) {
  .to-ask { 
    flex-direction: column;
    &__input-ask {
      width: 100%;
      margin-bottom: 5px;
    }
    &__submit-btn {
      width: 100%;
    }
  }
}