@import '../mixins.scss';

.to-paginate {
  display: flex;
  justify-content: center;
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 700;
  cursor: pointer;
  &__prev {
    box-sizing: border-box;
    width: 40px;
    height: 30px;
    border: 1px solid #1583D6;
    border-bottom: 3px solid #1583D6;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    background-color: #fff;
    color: #1583D6;
    @include standard-button();
  }
  &__page-number {
    box-sizing: border-box;
    width: 40px;
    height: 30px;
    padding-top: 5px;
    border: 1px solid #1583D6;
    border-bottom: 3px solid #1583D6;
    border-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 20px;
    background-color: #fff;
    color: #1583D6;
    @include standard-button();
  }
  &__page-number:nth-child(2) {
    border-left: 1px solid #1583D6;
  }
  &__next {
    box-sizing: border-box;
    width: 40px;
    height: 30px;
    border: 3px solid #1583D6;
    border-top: 1px solid #1583D6;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    background-color: #fff;
    color: #1583D6;
    @include standard-button();
  }
}