.to-sort {
  display: flex;
  font-size: 14px;
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 700;
  color: #878A8C;
  &__key {
    margin-left: 10px;
    color: #1583D6;
    cursor: pointer;
  }
  &__key:active, &__key--active {
    color: #F94A3F;
  }
}