.shell {
  background-color: #f00;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  padding: 0 10px;
  justify-content: center;
  background-color: #FFFFFF;
  &__container {
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    color: #F94A3F;
  }
  &__config {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #F94A3F;
    input {
      box-sizing: border-box;
      width: 120px;
      height: 30px;
      padding-top: 4px;
      padding-left: 6px;
      margin-left: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      line-height: 16px;
      font-family: 'Baloo Bhaina 2', cursive;
      color: #878A8C;
      &:focus {
        outline: none;
        box-shadow: 0;
        border: 1px solid #F94A3F;
      }
      &::placeholder {
        color: #ccc;
      }
    }
  }
}
.content {
  box-sizing: border-box;
  padding-top: 90px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  background-color: #DAE0E6;
  &__container {
    width: 800px;
    min-height: 100vh;
    display: flex;
  }
}