.shell {
  background-color: #f00;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  padding: 0 10px;
  justify-content: center;
  background-color: #FFFFFF;
  &__container {
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    color: #F94A3F;
  }
  &__config {
    font-size: 30px;
    color: #F94A3F;
  }
}
.content {
  box-sizing: border-box;
  padding-top: 90px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  background-color: #DAE0E6;
  &__container {
    width: 800px;
    min-height: 100vh;
    display: flex;
  }
}